.goal-card{

  width:100%;
  min-height:420px;

  perspective:1200px;

}


.goal-card-inner{

  position:relative;

  width:100%;
  height:420px;

  transform-style:preserve-3d;

  transition:.7s ease;

}


.goal-card.flipped .goal-card-inner{

  transform:rotateY(180deg);

}



.goal-card-face{

  position:absolute;

  inset:0;

  padding:40px;

  border-radius:30px;

  background:#f4f4f4;

  backface-visibility:hidden;

  box-shadow:
  0 10px 30px rgba(0,0,0,.08);

}



.goal-card-back{

  transform:rotateY(180deg);

}



/* HEADER */


.goal-header{

 display:flex;
 align-items:center;
 gap:15px;
 margin-bottom:35px;

}


.goal-icon{

 font-size:2.8rem;

}


.goal-header h1{

 color:#1f2937;
 font-size:2.5rem;

}



/* INPUT */


.input-box{

 position:relative;

 margin-bottom:20px;

}



.input-box span{

 position:absolute;

 left:18px;
 top:50%;

 transform:translateY(-50%);

 font-size:1.3rem;

}



.input-box input{


 width:100%;

 padding:20px 20px 20px 55px;

 border:none;

 border-radius:20px;

 outline:none;

 font-size:1rem;

 background:white;

 box-shadow:
 0 10px 30px rgba(0,0,0,.08);

 transition:.25s;

}



.input-box input:focus{

 transform:translateY(-3px);

 box-shadow:
 0 15px 40px rgba(24,119,242,.25);

}



/* BUTTON */


.form-actions{

 display:flex;

 gap:15px;

 margin-top:20px;

}



.goal-btn{

 flex:1;

 padding:18px;

 border:none;

 border-radius:18px;

 background:#1877f2;

 color:white;

 cursor:pointer;

 font-size:1.1rem;

 transition:.25s;

}



.goal-btn:hover{

 transform:translateY(-3px);

}



.secondary{

 background:white;

 color:#1877f2;

 border:2px solid #1877f2;

}



.back{

 width:auto;

 padding:12px 25px;

}



/* LIST */


.goal-list{

 height:300px;

 overflow:auto;

 display:flex;

 flex-direction:column;

 gap:15px;

}



.goal-item{

 display:flex;

 justify-content:space-between;

 align-items:center;

 background:white;

 padding:18px;

 border-radius:18px;

}



.goal-date{

 color:#6b7280;

}



.delete-btn{

 width:40px;
 height:40px;

 border:none;

 border-radius:12px;

 background:#e05b5b;

 color:white;

 cursor:pointer;

}


.empty-state{

 text-align:center;

 color:#6b7280;

 margin-top:40px;

}


.countdown{

  margin-top:8px;

  color:#1877f2;

  font-weight:700;

  font-size:0.95rem;

  animation:pulse 1s infinite alternate;

}



@keyframes pulse{

  from{

    opacity:.6;

  }


  to{

    opacity:1;

  }

}